#EditAcademicDepartmentMain {

}

#EditAcademicDepartmentH1 {
    text-align: center;
}


/* ============================TRANSPORT CONTAINER======================= */


#EditAcademicDepartmentTransportContainer{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px pink solid; */
}


/* ==================== BACK ========================= */

#EditAcademicDepartmentBack:enabled{

    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500px;
    padding: 0 1rem 0 0;
    margin: 1.5rem .5rem 0rem .5rem;
    width: 14rem;
    height: 2rem;


    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;

    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);
    border-radius: 5px;

}


#EditAcademicDepartmentBack:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#EditAcademicDepartmentBack:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#EditAcademicDepartmentBack:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}




/* ==================== FORTH ======================== */
#EditAcademicDepartmentForth:enabled{

    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500px;
    margin-left: 1rem;
    width: 6rem;
    padding: .5rem 0.5rem .5rem .5rem;


    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);
    border-radius: 5px;

}


#EditAcademicDepartmentForth:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#EditAcademicDepartmentForth:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#EditAcademicDepartmentForth:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}



/* ==================== FORM========================= */




#EditAcademicDepartmentForm{
    margin: 2rem 4rem 4rem 4rem;
    padding: 0rem 0rem 0rem 0rem;
    border: var(--border);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.EditAcademicDepartmentFormLabelInputContainer {
    display: flex;
    justify-content: center;
    /* border: 2px grey solid; */
}

.EditAcademicDepartmentFormLabel {
    color: black;
    font-size: medium;
    font-weight: 600;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}



.EditAcademicDepartmentFormInput {
    font-size: small;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    width: 442px;
}




.EditAcademicDepartmentFormRequired{
    position:sticky;

    margin: 1.25rem 0 0 -1rem;
    padding: .5rem .5rem 0 0;
    color: red;
    font-size: medium;
}


.EditAcademicDepartmentErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: -1rem 0 1.5rem 0;
}

.EditAcademicDepartmentRequiredErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0 1.5rem 0;
}



.EditAcademicDepartmentHr {
    border: 1px grey solid;
    width: 80%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#EditAcademicDepartmentFormSection1, #EditAcademicDepartmentFormSection2, #EditAcademicDepartmentFormSection3, #EditAcademicDepartmentFormSection4, #EditAcademicDepartmentFormSection5     {
    width: 450px;
}

#EditAcademicDepartmentFormSection1H4, #EditAcademicDepartmentFormSection2H4, #EditAcademicDepartmentFormSection3H4, #EditAcademicDepartmentFormSection4H4, #EditAcademicDepartmentFormSection5H4 {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
    color: black;
    /* border: 2px solid grey; */
}

#EditAcademicDepartmentFormSection1P, #EditAcademicDepartmentFormSection2P, #EditAcademicDepartmentFormSection3P, #EditAcademicDepartmentFormSection4P, #EditAcademicDepartmentFormSection5P {
    text-align: center;
    margin: -1rem 0 .5rem 0;
    font-size: medium;
    font-weight: 400;
    color: black;
}

.EditAcademicDepartmentH5 {
    margin: 0rem 0 3rem 0;
    color: red;
    text-align: center;
}



#EditAcademicDepartmentButton {
    margin: 2rem 0 4rem 0;
    width: 16rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 25px;
}

#EditAcademicDepartmentButton:enabled {
    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);

}

#EditAcademicDepartmentButton:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#EditAcademicDepartmentButton:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#EditAcademicDepartmentButton:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}
