
.EmployeesListItemHeaderContainer {
    display: flex;
    margin: 0 1rem 1rem 1rem;
    text-wrap: nowrap;
    width: fit-content;
    /* border: blue 2px solid; */
  }

  /* ---------ITEM GENERIC----------- */

  .EmployeesListItemHeaderItemContainerGeneric {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    width: 8rem;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

   /* ---------ITEM SPECIFIC----------- */
   /* ----Should match the item css---- */

.EmployeesListItemHeaderItemContainerID {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    width: 2rem;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerED {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    width: 2rem;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerAD {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    width: 2rem;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerName {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    width: 10rem;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerStreet {
    width: 8rem;
  /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerCity {
    width: 8rem;
    /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerState {
    width: 4rem;
    /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerZip {
    width: 6rem;
    /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerPhone {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    width: 6rem;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }



  .EmployeesListItemHeaderItemContainerEmail {
    width: 10rem;
  /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }


  .EmployeesListItemHeaderItemContainerLang {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    width: 5rem;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerInst {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    width: 5rem;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }





    /* ---------???----------- */
.EmployeesListItemHeaderItemH4{
    margin: 0;
    text-wrap: nowrap;
    width: fit-content;
    /* border: 1px darkgrey solid; */
}
