
.EmployeesListItemContainer {
    display: flex;
    margin: 0;
    text-wrap: nowrap;
    width: fit-content;
    /* border: blue 2px solid; */
  }

   /* ---------ITEM GENERIC----------- */

  .EmployeesListItemContainerGeneric {
    font-size: .8rem;
    width: 8rem;
    /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

     /* ---------ITEM SPECIFIC----------- */
     /* ---Should match the header css--- */

.EmployeesListItemContainerID {
    font-size: .8rem;
    width: 2rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemContainerED {
    font-size: .8rem;
    width: 2rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemContainerAD {
    font-size: .8rem;
    width: 2rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemContainerName {
    font-size: .9rem;
    width: 10rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemContainerStreet {
    font-size: .8rem;
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemContainerCity {
    font-size: .8rem;
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemContainerState {
    font-size: .8rem;
    width: 4rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemContainerZip {
    font-size: .8rem;
    width: 6rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemContainerPhone {
    font-size: .8rem;
    width: 6rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }



  .EmployeesListItemContainerEmail {
    font-size: .8rem;
    width: 10rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }


  .EmployeesListItemContainerLang {
    font-size: .8rem;
    width: 5rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeesListItemContainerInst {
    font-size: .8rem;
    width: 5rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }



    /* ---------???----------- */
    .EmployeesListItemH4{
        margin: 0;
        text-wrap: nowrap;
        width: fit-content;
        /* border: 1px darkgrey solid; */
    }

    .EmployeesListItemP{
        margin: 0;
        text-wrap: nowrap;
        width: fit-content;
        /* border: 1px orange solid; */
    }

    .EmployeesListItemBorder {
        border: 0.5px solid var(--time-line);
        margin-left: 90px;
      }
