.CatchAllMain{
    background-color: var(--backgroundColor);
    border: var(--border);
    text-align: center;
    text-wrap: nowrap;
    overflow: hidden;
}

.CatchAllDiv{
    margin: 1rem 4rem 1rem 4rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: 25px;
}

.CatchAllH1{
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem 0 0 0;
}

.CatchAllH3{
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
    color: var(--green1)
}
