
.EmployeeDepartmentsListItemContainer {
    display: flex;
    margin: 0;
    text-wrap: nowrap;
    width: fit-content;
    /* border: blue 2px solid; */
  }

   /* ---------ITEM GENERIC----------- */

  .EmployeeDepartmentsListItemContainerGeneric {
    font-size: .8rem;
    width: 8rem;
    /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

     /* ---------ITEM SPECIFIC----------- */
     /* ---Should match the header css--- */

.EmployeeDepartmentsListItemContainerID {
    font-size: .8rem;
    width: 2rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeeDepartmentsListItemContainerED {
    font-size: .8rem;
    width: 2rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeeDepartmentsListItemContainerAD {
    font-size: .8rem;
    width: 2rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeeDepartmentsListItemContainerName {
    font-size: .9rem;
    width: 10rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeeDepartmentsListItemContainerStreet {
    font-size: .8rem;
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeeDepartmentsListItemContainerCity {
    font-size: .8rem;
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeeDepartmentsListItemContainerState {
    font-size: .8rem;
    width: 4rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeeDepartmentsListItemContainerZip {
    font-size: .8rem;
    width: 6rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeeDepartmentsListItemContainerPhone {
    font-size: .8rem;
    width: 6rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }



  .EmployeeDepartmentsListItemContainerEmail {
    font-size: .8rem;
    width: 10rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }


  .EmployeeDepartmentsListItemContainerLang {
    font-size: .8rem;
    width: 5rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .EmployeeDepartmentsListItemContainerInst {
    font-size: .8rem;
    width: 5rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }



    /* ---------???----------- */
    .EmployeeDepartmentsListItemH4{
        margin: 0;
        text-wrap: nowrap;
        width: fit-content;
        /* border: 1px darkgrey solid; */
    }

    .EmployeeDepartmentsListItemP{
        margin: 0;
        text-wrap: nowrap;
        width: fit-content;
        /* border: 1px orange solid; */
    }

    .EmployeeDepartmentsListItemBorder {
        border: 0.5px solid var(--time-line);
        margin-left: 90px;
      }
