
.FacilitiesListItemHeaderContainer {
    display: flex;
    margin: 0 1rem 1rem 1rem;
    text-wrap: nowrap;
    width: fit-content;
    /* border: blue 2px solid; */
  }


   /* ---------ITEM SPECIFIC----------- */
   /* ----Should match the item css---- */

.FacilitiesListItemHeaderItemContainerID {
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }


  .FacilitiesListItemHeaderItemContainerName {
    width: 8rem;
    /* customized on top */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: left;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .FacilitiesListItemHeaderItemContainerBranchId {
    width: 8rem;
  /* customized on top */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: left;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .FacilitiesListItemHeaderItemContainerCapacity {
    width: 8rem;
    /* customized on top */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: left;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }



    /* ---------???----------- */
.FacilitiesListItemHeaderItemH4{
    margin: 0;
    text-wrap: nowrap;
    width: fit-content;
    /* border: 1px darkgrey solid; */
}
