
.FacilitiesListItemContainer {
    display: flex;
    margin: 0;
    text-wrap: nowrap;
    width: fit-content;
    /* border: blue 2px solid; */
  }

   /* ---------ITEM GENERIC----------- */

  .FacilitiesListItemContainerGeneric {
    font-size: .8rem;
    width: 8rem;
    /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

     /* ---------ITEM SPECIFIC----------- */
     /* ---Should match the header css--- */

.FacilitiesListItemContainerID {
    font-size: .8rem;
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }


  .FacilitiesListItemContainerName {
    font-size: .9rem;
    width: 8rem;
   /* customized on top */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: left;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .FacilitiesListItemContainerBranchId {
    font-size: .8rem;
    width: 8rem;
   /* customized on top */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: left;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }


    /* ---------???----------- */
    .FacilitiesListItemH4{
        margin: 0;
        text-wrap: nowrap;
        width: fit-content;
        /* border: 1px darkgrey solid; */
    }

    .FacilitiesListItemP{
        margin: 0;
        text-wrap: nowrap;
        width: fit-content;
        /* border: 1px orange solid; */
    }

    .FacilitiesListItemBorder {
        border: 0.5px solid var(--time-line);
        margin-left: 90px;
      }
