npm init -y

# npm install for:
cookie-parser
cors
csurf
dotenv
express
express-validator
express-async-errors
helmet
jsonwebtoken
morgan
per-env
sequelize@6
sequelize-cli@6
pg

#npm install -D for:
sqlite3
dotenv-cli
nodemon
