.SSListHeaderItemMain{
    margin: 0 .15rem 0 .15rem;
    padding: .15rem .15rem .15rem .15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* min-width: 4rem;
    max-width: 8rem; */
    width: 8rem;
    /* resize: none; */
    /* overflow: hidden; */
    /* text-overflow: wrap; */
    /* border: 2px brown solid; */
}

.SSListHeaderItemH4{
    margin: 0 .15rem 0 .15rem;
    text-wrap: wrap;
    width: fit-content;
    /* border: 2px darkgrey solid; */
}

.SSListHeaderItemButtonsDiv{
    margin: 0 .15rem 0 .15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    width: fit-content;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: blue 2px solid; */
}






