#EditFacilityMain {

}

#EditFacilityH1 {
    text-align: center;
}


/* ============================TRANSPORT CONTAINER======================= */


#EditFacilityTransportContainer{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px pink solid; */
}


/* ==================== BACK ========================= */

#EditFacilityBack:enabled{

    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500px;
    padding: 0 1rem 0 0;
    margin: 1.5rem .5rem 0rem .5rem;
    width: 14rem;
    height: 2rem;


    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;

    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);
    border-radius: 5px;

}


#EditFacilityBack:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#EditFacilityBack:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#EditFacilityBack:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}




/* ==================== FORTH ======================== */
#EditFacilityForth:enabled{

    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500px;
    margin-left: 1rem;
    width: 6rem;
    padding: .5rem 0.5rem .5rem .5rem;


    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);
    border-radius: 5px;

}


#EditFacilityForth:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#EditFacilityForth:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#EditFacilityForth:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}



/* ==================== FORM ========================= */


#EditFacilityForm{
    margin: 2rem 4rem 2rem 4rem;
    padding: 0rem 0rem 0rem 0rem;
    border: var(--border);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}




.EditFacilityFormLabelInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    margin: 2rem 0rem 2rem -13rem;
    width: 40rem;


    /* border: 2px grey solid; */
}

.EditFacilityFormLabel {
    text-align: right;
    text-wrap: nowrap;
    color: black;
    font-size: medium;
    font-weight: 600;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 30rem;
}



.EditFacilityFormInput {
    font-size: small;
    height: 1.5rem;
    margin: 0 0 0 0;
    /* padding: 0 0rem 0 4rem; */
    width: 60rem;
}




.EditFacilityFormRequired{
    /* position:sticky; */
    display: inline;

    margin: 0 .5rem 0 0;
    padding: 0;
    color: red;
    font-size: medium;
}

.EditFacilityErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: -1rem 0 1.5rem 0;
}

.EditFacilityRequiredErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0 1.5rem 0;
}



.EditFacilityHr {
    border: 1px grey solid;
    width: 80%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#EditFacilityFormSection1, #EditFacilityFormSection2, #EditFacilityFormSection3, #EditFacilityFormSection4, #EditFacilityFormSection5     {
    width: 450px;
}

#EditFacilityFormSection1H4, #EditFacilityFormSection2H4, #EditFacilityFormSection3H4, #EditFacilityFormSection4H4, #EditFacilityFormSection5H4 {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
    color: black;
    /* border: 2px solid grey; */
}

#EditFacilityFormSection1P, #EditFacilityFormSection2P, #EditFacilityFormSection3P, #EditFacilityFormSection4P, #EditFacilityFormSection5P {
    text-align: center;
    margin: -1rem 0 .5rem 0;
    font-size: medium;
    font-weight: 400;
    color: black;
}

.EditFacilityH5 {
    margin: 0rem 0 3rem 0;
    color: red;
    text-align: center;
}



#EditFacilityButton {
    margin: 2rem 0 4rem 0;
    width: 16rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 25px;
}

#EditFacilityButton:enabled {
    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);

}

#EditFacilityButton:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#EditFacilityButton:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#EditFacilityButton:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}
