
.BranchesListItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 1.5rem 0 0;
    text-wrap: nowrap;
    width: fit-content;
    border-bottom: 1px lightgrey solid;
    /* border: blue 2px solid; */
  }

/* ========================MENU BUTTON======================= */


#BranchesListItemDropDownButton{
  background-color: white;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
}


/* icon not open */
#BranchesListItemIoMdOutlineArrowDropDownCircle {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--green1);
  rotate: 270deg;
  margin: 0;
  /* border: 1px var(--green1) solid; */
}

#BranchesListItemIoMdOutlineArrowDropDownCircle:hover {
  color: var(--green2);
  cursor: pointer;
}


/* icon open */
#BranchesListItemIoMdArrowDropdownCircle {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--green1);
}

#BranchesListItemIoMdArrowDropdownCircle:hover {
  color: var(--green2);
  cursor: pointer;
}



/* ===========================ITEMS========================== */

   /* ---------ITEM GENERIC----------- */

  .BranchesListItemContainerGeneric {
    font-size: .9rem;
    width: 8rem;
    /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

     /* ---------ITEM SPECIFIC----------- */
     /* ---Should match the header css--- */

.BranchesListItemContainerID {
    font-size: .9rem;
    width: 4rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }


  .BranchesListItemContainerName {
    font-size: .9rem;
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .BranchesListItemContainerStreet {
    font-size: .9rem;
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .BranchesListItemContainerCity {
    font-size: .9rem;
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .BranchesListItemContainerState {
    font-size: .9rem;
    width: 4rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }

  .BranchesListItemContainerZip {
    font-size: .9rem;
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: green 2px solid; */
  }


    /* ---------???----------- */
    .BranchesListItemH4{
        margin: 0;
        text-wrap: nowrap;
        width: fit-content;
        /* border: 1px darkgrey solid; */
    }

    .BranchesListItemP{
        margin: 0;
        text-wrap: nowrap;
        width: fit-content;
        /* border: 1px orange solid; */
    }

    .BranchesListItemBorder {
        border: 0.5px solid var(--time-line);
        margin-left: 90px;
      }
