.SSListItemContainerEmailMain{
    font-size: .9rem;
    width: 8rem;
   /* customized on top */
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: .15rem .15rem .15rem .15rem;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    resize: none;
    overflow: hidden;
    /* border: green 2px solid; */
}

.SSListItemContainerEmailP{
    margin: 0;
    text-wrap: nowrap;
    width: fit-content;
    /* border: 1px orange solid; */
}
