#CreateNewEmployeeMain {

}

#CreateNewEmployeeH1 {
    text-align: center;
}

.CreateNewEmployeeErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: -1rem 0 1.5rem 0;
}

.CreateNewEmployeeRequiredErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0 1.5rem 0;
}


#CreateNewEmployeeForm{
    margin: 2rem 4rem 4rem 4rem;
    padding: 0rem 0rem 0rem 0rem;
    border: var(--border);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.CreateNewEmployeeFormLabelInputContainer {
    display: flex;
    justify-content: center;
    /* border: 2px grey solid; */
}

.CreateNewEmployeeFormLabel {
    color: black;
    font-size: medium;
    font-weight: 600;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}



.CreateNewEmployeeFormInput {
    font-size: small;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    width: 442px;
}




.CreateNewEmployeeFormRequired{
    position:sticky;

    margin: 1.25rem 0 0 -1rem;
    padding: .5rem .5rem 0 0;
    color: red;
    font-size: medium;
}





.CreateNewEmployeeHr {
    border: 1px grey solid;
    width: 80%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#CreateNewEmployeeFormSection1, #CreateNewEmployeeFormSection2, #CreateNewEmployeeFormSection3, #CreateNewEmployeeFormSection4, #CreateNewEmployeeFormSection5     {
    width: 450px;
}

#CreateNewEmployeeFormSection1H4, #CreateNewEmployeeFormSection2H4, #CreateNewEmployeeFormSection3H4, #CreateNewEmployeeFormSection4H4, #CreateNewEmployeeFormSection5H4 {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
    color: black;
    /* border: 2px solid grey; */
}

#CreateNewEmployeeFormSection1P, #CreateNewEmployeeFormSection2P, #CreateNewEmployeeFormSection3P, #CreateNewEmployeeFormSection4P, #CreateNewEmployeeFormSection5P {
    text-align: center;
    margin: -1rem 0 .5rem 0;
    font-size: medium;
    font-weight: 400;
    color: black;
}

.CreateNewEmployeeH5 {
    margin: 0rem 0 3rem 0;
    color: red;
    text-align: center;
}



#CreateNewEmployeeButton {
    margin: 2rem 0 4rem 0;
    width: 16rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 25px;
}

#CreateNewEmployeeButton:enabled {
    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);

}

#CreateNewEmployeeButton:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#CreateNewEmployeeButton:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#CreateNewEmployeeButton:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}
