#EditEmployeeDepartmentMain {

}

#EditEmployeeDepartmentH1 {
    text-align: center;
}

.EditEmployeeDepartmentErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: -1rem 0 1.5rem 0;
}

.EditEmployeeDepartmentRequiredErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0 1.5rem 0;
}


#EditEmployeeDepartmentForm{
    margin: 2rem 4rem 4rem 4rem;
    padding: 0rem 0rem 0rem 0rem;
    border: var(--border);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.EditEmployeeDepartmentFormLabelInputContainer {
    display: flex;
    justify-content: center;
    /* border: 2px grey solid; */
}

.EditEmployeeDepartmentFormLabel {
    color: black;
    font-size: medium;
    font-weight: 600;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}



.EditEmployeeDepartmentFormInput {
    font-size: small;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    width: 442px;
}




.EditEmployeeDepartmentFormRequired{
    position:sticky;

    margin: 1.25rem 0 0 -1rem;
    padding: .5rem .5rem 0 0;
    color: red;
    font-size: medium;
}





.EditEmployeeDepartmentHr {
    border: 1px grey solid;
    width: 80%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#EditEmployeeDepartmentFormSection1, #EditEmployeeDepartmentFormSection2, #EditEmployeeDepartmentFormSection3, #EditEmployeeDepartmentFormSection4, #EditEmployeeDepartmentFormSection5     {
    width: 450px;
}

#EditEmployeeDepartmentFormSection1H4, #EditEmployeeDepartmentFormSection2H4, #EditEmployeeDepartmentFormSection3H4, #EditEmployeeDepartmentFormSection4H4, #EditEmployeeDepartmentFormSection5H4 {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
    color: black;
    /* border: 2px solid grey; */
}

#EditEmployeeDepartmentFormSection1P, #EditEmployeeDepartmentFormSection2P, #EditEmployeeDepartmentFormSection3P, #EditEmployeeDepartmentFormSection4P, #EditEmployeeDepartmentFormSection5P {
    text-align: center;
    margin: -1rem 0 .5rem 0;
    font-size: medium;
    font-weight: 400;
    color: black;
}

.EditEmployeeDepartmentH5 {
    margin: 0rem 0 3rem 0;
    color: red;
    text-align: center;
}



#EditEmployeeDepartmentButton {
    margin: 2rem 0 4rem 0;
    width: 16rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 25px;
}

#EditEmployeeDepartmentButton:enabled {
    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);

}

#EditEmployeeDepartmentButton:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#EditEmployeeDepartmentButton:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#EditEmployeeDepartmentButton:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}
