.SSListMapMain{
    /* background-color: var(--backgroundColor);
    border: var(--border);
    resize: none;
    overflow: hidden; */
}

.SSListMapDiv{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: fit-content;
    margin: 0.5rem 0rem 0.5rem 0rem;
    /* border: 2px blue solid; */
}
