#EditStudentMain {
    overflow: hidden;
    margin: 0 1rem 0 1rem;
    padding: .5rem .5rem 0rem .5rem;
    /* border: 2px blue solid; */

}

#EditStudentH1 {
    text-align: center;
    font-size: 2.5rem;
    margin: .5rem 0 0 0;
}


/* ============================TRANSPORT CONTAINER======================= */


#EditStudentTransportContainer{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px pink solid; */
}


/* ==================== BACK ========================= */

#EditStudentBack:enabled{

    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500px;
    padding: 0 1rem 0 0;
    margin: 1.5rem .5rem 0rem .5rem;
    width: 14rem;
    height: 2rem;


    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;

    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);
    border-radius: 5px;

}


#EditEmployeeBack:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#EditEmployeeBack:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#EditEmployeeBack:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}




/* ==================== FORTH ======================== */
#EditStudentForth:enabled{

    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500px;
    margin-left: 1rem;
    width: 6rem;
    padding: .5rem 0.5rem .5rem .5rem;


    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);
    border-radius: 5px;

}


#EditStudentForth:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#EditStudentForth:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#EditStudentForth:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}













/* ==================== FORM ======================== */

.EditStudentErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: -1rem 0 1.5rem 0;
}

.EditStudentRequiredErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0 1.5rem 0;
}


#EditStudentForm{
    margin: 2rem 4rem 4rem 4rem;
    padding: 0rem 0rem 0rem 0rem;
    border: var(--border);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.EditStudentFormLabelInputContainer {
    display: flex;
    justify-content: center;
    /* border: 2px grey solid; */
}

.EditStudentFormLabel {
    color: black;
    font-size: medium;
    font-weight: 600;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}



.EditStudentFormInput {
    font-size: small;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    width: 442px;
}




.EditStudentFormRequired{
    position:sticky;

    margin: 1.25rem 0 0 -1rem;
    padding: .5rem .5rem 0 0;
    color: red;
    font-size: medium;
}





.EditStudentHr {
    border: 1px grey solid;
    width: 80%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#EditStudentFormSection1, #EditStudentFormSection2, #EditStudentFormSection3, #EditStudentFormSection4, #EditStudentFormSection5     {
    width: 450px;
}

#EditStudentFormSection1H4, #EditStudentFormSection2H4, #EditStudentFormSection3H4, #EditStudentFormSection4H4, #EditStudentFormSection5H4 {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
    color: black;
    /* border: 2px solid grey; */
}

#EditStudentFormSection1P, #EditStudentFormSection2P, #EditStudentFormSection3P, #EditStudentFormSection4P, #EditStudentFormSection5P {
    text-align: center;
    margin: -1rem 0 .5rem 0;
    font-size: medium;
    font-weight: 400;
    color: black;
}

.EditStudentH5 {
    margin: 0rem 0 3rem 0;
    color: red;
    text-align: center;
}


/* ==================== BUTTON ======================== */


#EditStudentButton {
    margin: 2rem 0 4rem 0;
    width: 16rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 25px;
}

#EditStudentButton:enabled {
    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);

}

#EditStudentButton:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#EditStudentButton:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#EditStudentButton:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}

/* ==================== CUSTOM INPUT ADJUSTMENTS ======================== */

#biographyContainer{
    resize: none;
}

#notesContainer{
    resize: none;
}
