#CreateNewAcademicDepartmentMain {

}

#CreateNewAcademicDepartmentH1 {
    text-align: center;
}

.CreateNewAcademicDepartmentErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: -1rem 0 1.5rem 0;
}

.CreateNewAcademicDepartmentRequiredErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0 1.5rem 0;
}


#CreateNewAcademicDepartmentForm{
    margin: 2rem 4rem 4rem 4rem;
    padding: 0rem 0rem 0rem 0rem;
    border: var(--border);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.CreateNewAcademicDepartmentFormLabelInputContainer {
    display: flex;
    justify-content: center;
    /* border: 2px grey solid; */
}

.CreateNewAcademicDepartmentFormLabel {
    color: black;
    font-size: medium;
    font-weight: 600;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}



.CreateNewAcademicDepartmentFormInput {
    font-size: small;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    width: 442px;
}




.CreateNewAcademicDepartmentFormRequired{
    position:sticky;

    margin: 1.25rem 0 0 -1rem;
    padding: .5rem .5rem 0 0;
    color: red;
    font-size: medium;
}





.CreateNewAcademicDepartmentHr {
    border: 1px grey solid;
    width: 80%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#CreateNewAcademicDepartmentFormSection1, #CreateNewAcademicDepartmentFormSection2, #CreateNewAcademicDepartmentFormSection3, #CreateNewAcademicDepartmentFormSection4, #CreateNewAcademicDepartmentFormSection5     {
    width: 450px;
}

#CreateNewAcademicDepartmentFormSection1H4, #CreateNewAcademicDepartmentFormSection2H4, #CreateNewAcademicDepartmentFormSection3H4, #CreateNewAcademicDepartmentFormSection4H4, #CreateNewAcademicDepartmentFormSection5H4 {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
    color: black;
    /* border: 2px solid grey; */
}

#CreateNewAcademicDepartmentFormSection1P, #CreateNewAcademicDepartmentFormSection2P, #CreateNewAcademicDepartmentFormSection3P, #CreateNewAcademicDepartmentFormSection4P, #CreateNewAcademicDepartmentFormSection5P {
    text-align: center;
    margin: -1rem 0 .5rem 0;
    font-size: medium;
    font-weight: 400;
    color: black;
}

.CreateNewAcademicDepartmentH5 {
    margin: 0rem 0 3rem 0;
    color: red;
    text-align: center;
}



#CreateNewAcademicDepartmentButton {
    margin: 2rem 0 4rem 0;
    width: 18rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 25px;
}

#CreateNewAcademicDepartmentButton:enabled {
    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);

}

#CreateNewAcademicDepartmentButton:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

#CreateNewAcademicDepartmentButton:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

#CreateNewAcademicDepartmentButton:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}
